<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Admin Page</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
<script type="text/javascript" th:src="@{/js/dropzone.js}"></script>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link
	href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
<script
	src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

</head>

<body>
	<div class="container">
		<div class="panel-group" style="margin-top: 40px">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<span th:utext="${userName}"></span>
				</div>
				<div class="panel-body">
				<form th:action="@{upload}" enctype="multipart/form-data" method="post">
					<input type="hidden" th:value="${user_id}" name="user_id">
					<input type="file" name="files" multiple><br>
					<button type="submit" class="btn btn-sm btn-primary" id="js-upload-submit">Upload files</button>
				</form>
				</div>
			</div>
		</div>
		
		<div class="panel-group" style="margin-top: 40px">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<span>All Image</span>
				</div>
				<div class="panel-body" th:each="img : ${image}">
					<img th:attr="src=@{'/images/' + ${img.fileName}},title='image not found',alt=${img.fileName}" width="250" height="250"/>
				</div>
			</div>
			
		</div>
		
		<form th:action="@{/logout}" method="get">
			<button class="btn btn-md btn-danger btn-block" name="registration"
				type="Submit">Logout</button>
		</form>
		<h2><span class="text-success" th:utext="${successMessage}"></span></h2>
	</div>
</body>
</html>